__pycache__/
.venv/
venv/
env/
*.pyc
*.pyo
.pytest_cache/
audit_output/
audit_linux_output/
*_numerado.pdf
*_firmado.pdf
*_numerado_firmado.pdf
*_muestra.png
*_unido.pdf
*_optimizado.pdf
*_protegido.pdf
*_marca_agua.pdf
*_metadatos.pdf
*_paginas/
*_partes/
*_imagenes/.venv/lib/python3.13/site-packages/torch/lib/libtorch_cpu.so
.venv/lib/python3.13/site-packages/torch/lib/libtorch_cuda.so
.venv/lib/python3.13/site-packages/nvidia/nccl/lib/libnccl.so.2
.venv/lib/python3.13/site-packages/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9
.venv/lib/python3.13/site-packages/nvidia/cudnn/lib/libcudnn_adv.so.9
.venv/lib/python3.13/site-packages/nvidia/cusparselt/lib/libcusparseLt.so.0
.venv/lib/python3.13/site-packages/nvidia/cu13/lib/libcublasLt.so.13
.venv/lib/python3.13/site-packages/nvidia/cu13/lib/libcusolver.so.12
.venv/lib/python3.13/site-packages/nvidia/cu13/lib/libcurand.so.10
.venv/lib/python3.13/site-packages/nvidia/cu13/lib/libnvrtc.so.13
.venv/lib/python3.13/site-packages/nvidia/cu13/lib/libnvrtc.alt.so.13
.venv/lib/python3.13/site-packages/nvidia/cu13/lib/libcufft.so.12
.venv/lib/python3.13/site-packages/nvidia/cu13/lib/libcusparse.so.12
.venv/lib/python3.13/site-packages/triton/_C/libtriton.so
